<link rel="stylesheet" href="/stylesheets/dashboard.css">
<div class="container">
  <div class="row">
    <div class="mt-4">
      <button type="button" class="btn btn-success" id="addCategoryBtn">Add Category</button>
      <form action="/categories" method="POST" class="add-category-form d-none mt-4">
        <div class="form-group">
          <label for="categoryTitle">Title:</label>
          <input type="text" class="form-control" id="categoryTitle" name="title">
        </div>
        <div class="form-group">
          <label for="categoryPublished">Published:</label>
          <select class="form-control" id="categoryPublished" name="published">
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div class="form-group">
          <label for="categoryDescription">Description:</label>
          <input type="text" class="form-control" id="categoryDescription" name="description">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <% categories.forEach(function(category) { %>
    <div class="col-md-4 mt-4">
      <div class="card" data-category-id="<%= category._id %>">
        <div class="card-body">
          <h5 class="card-title"><%= category.title %></h5>
          <p class="card-text">Published: <%= category.published ? 'Yes' : 'No' %></p>
          <p class="card-description"><%= category.description %></p>
          <form id="deleteForm_<%= category._id %>" class="delete-form">
            <input type="hidden" name="_method" value="DELETE">
            <button type="button" class="btn btn-danger delete-btn">Delete</button>
          </form>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>











<script src="/javascripts/js.js"></script>
